{{#partial "content"}}
    <div class ="hero-card">
    {{#if editSquad}}
        <h1>Edit this Squad!</h1>
        <form action="/squads/{{squad.id}}" method="post">
            <label for="newSquadName">Edit this squad's Name</label>
            <input id="newSquadName" name="newSquadName" type="text" value="{{squad.name}}">
            <button type="submit" class="btn btn-default">Submit!</button>
        </form>
    {{else}}
        <h2>When worst becomes to worst,my squad becomes first.</h2>
        <h1>Crete a new Squad!</h1>
        <form action="/squads" method="post">
            <div class="form-group">
                <fieldset>
                    <input id="name" name="name" placeholder="Squad's  Name:" class="form-control" type="text"  required>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <input id="max_size" name="max_size" max="10"min="1"placeholder="Max_size:" class="form-control" type="number" required>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                <select class="form-control" name="cause" id="cause"   required>
                    <option value="--select  Squad's Cause--">--select Squad's Cause--</option>
                    <option value="Computer illiteracy">Computer illiteracy</option>
                    <option value="Hogging bus seats with your backpack"> Hogging bus seats with your backpack</option>
                    <option value="Fighting sexism">Fighting sexism</option>
                    <option value="Not covering your mouth when you sneeze">Not covering your mouth when you sneeze</option>
                    <option value="Passive-aggressive post-it notes">Passive-aggressive post-it notes</option>
                </select>
                </fieldset>
            </div>
            <button type="submit" class="btn btn-default">Go!</button>
    {{/if}}
        </form>

    </div>
{{/partial}}

{{> layout.hbs}}