{{#partial "content"}}
    <div class ="cards">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col"> Name:</th>
                <th scope="col"> cause:</th>
                <th scope="col"> max_size:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            {{#if squads}}
                {{#each squads}}
                        <td>{{ name }}</td>
                        <td>{{ cause}}</td>
                        <td>{{ max_size}}</td>


                    </tr>
                {{/each}}
            {{else}}
                <p>No squads Recorded yet !</p>
            {{/if}}
            <p>current Squads :</p>
            </tbody>
        </table>
        <a href="/squads/delete"><button style="font-weight:10px;" name="submit" type="submit" id="sub" >DELETE All heroes and squads</button></a>
        <a href="/"><button style="font-weight:10px;" name="submit" type="submit" id="sub" >Back!</button></a>

    </div>
{{/partial}}
{{> layout.hbs}}