<!DOCTYPE html>
<html>
  <head>
       <meta charset="UTF-8">
       <meta name="viewport"
             content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <title>{{#block "title"}} Hero_Squad {{/block}}</title>
       <link rel="stylesheet" href="/app.css">
       <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <!--begin main template-->
    <div class="container-full">
    <nav class="navbar">
    <div class="nav-links">
           <a href="/">Home</a>
           <a href="/form">CreateSquad</a>
           <a href="/heroes/new">CreateHero</a>
    {{!--        <a href="/hero-form">CreateHero</a> --}}
    </div>
    </nav>
      {{#block "content" }}
{{/block }}

    </div>
    <!--end main template-->
{{#block "footer" }}
  </body>
  </html>
{{/block }}